<div class="header">

       <!-- <h3 class="text-muted">Txaparrotan</h3> -->
       <!-- <ul class="nav nav-pills pull-right"> -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="/txapelketakeditatu">Txapelketak editatu</a></li>
          <li><a href="/admin/taldeakikusi">Taldeak ikusi</a></li>
          <li><a href="/admin/berriak">Edukiak</a></li>
<!--          <li><a href="/admin/argazkiak">Argazkiak igo</a></li> -->
          <li><a href="/admin/kalkuluak">Kalkuluak egin</a></li>
          <li><a href="/admin/partiduak">Partiduak</a></li>
          <li><a href="/admin/ordutegia">Ordutegia</a></li>
          <li><a href="/admin/emaitzak">Emaitzak sartu</a></li>
          <li><a href="/admin/sailkapenak">Sailkapena ikusi</a></li>
        </ul>
        
      </div>