

</br>

<h3>Eskerrik asko <b> {{mailaizena}} </b> mailan <b> {{taldeizena}} </b> izenarekin taldea <b>itxaron zerrendan</b> izena-emateagatik!</h3>
<ul><h3>
<li>1. Emaila : <b> {{emailard}} </b> egokia dela ziurtatu. Ez ba da egokia , Kontaktoa bidez adierazi.</li>

<li style="color:#FF0000">2. Txapelketak dituen mugak gainditu ezinak ditugunez: asteburu batean eta 6 jokutoki, Antolakuntzak ahalegin guztiak egingo ditu talde gehienei tokia egiten.</li>

<li style="color:#0000FF">3. Aukerarik sortu ezkero, Antolakuntzak, emaila baten bidez, adieraziko dizue. Egoera honetan, bertako taldeek izango dute lehentasuna. Mila esker!</h3></li>
</ul>
