{{> menu}}

</br>
</br>

<h3>Eskerrik asko Txaparrotan txapelketan <b> {{taldeizena}} </b> izenarekin izena emateagatik!</h3>
<h3>Jarraian email bat jasoko duzu <b> {{emailard}} </b> helbidean. Bertako linkean klikatu eta zure taldearen datuekin saioa hasteko aukera izango duzu. Saio hasi ondoren, jokalariak sartu beharko dituzu. Hau egin ezean, zure taldea ez da txapelketan apuntatuta egongo. Mila esker!</h3>